@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
* {
    margin:0;
    padding:0;
}

header {
    height:5vh;
    width:100%;
    background:black;
    padding:25px;
    margin:0 auto;
    margin-right:20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    align-content:center;
}
.logo {
    animation: App-logo-spin infinite 10s linear;
    /* align-self:center; */
    /* position:fixed; */
    height:70px;
    margin:0 20px;
}
.left {left:0;}
.right {right:0;margin-right:90px;}
h1 {
    font-family:'Pacifico';
    width:100%;
    color:white;
    align-content: center;
}
