.adopt-container {
    margin:5px 10px;
    widows: 100%;
}

.dog-container {
    border: 2px solid black;
    background:#BD8e62;
    height:45vh;
    width:100%;
    margin:10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.adoptable-dog {
    border: 5px solid #A46843;
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    flex-basis: 1;
    vertical-align: middle;
    align-self: center;
    justify-content: center;
    align-self:center;
    margin-top:15px;
    height:85%;
    border-radius:20px;

      
}
.btn-div {
    height:60px;
    margin:auto 20px;
    
    
}
.btn {
    height:40px;
    border: 2px solid brown;
    background:none;
    border-radius: 20px;
    padding:10px;
    margin:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1em;
    font-weight: bold;
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}
.wrapper {
    z-index: 5;
    position:relative;
}