* {
    margin:0;
    padding:0;

}
.opaque {
    opacity: .75;
    transition: opacity 0.5s;
  }
.opaque:hover {
opacity: 1;
}
.container {
    
    border:2px solid #370d00;;
    width:inherit;
    height:40vh;
    margin:5px auto;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-content: center;
    align-items:center;
    overflow: scroll;
    overflow-y: hidden;
    padding:10px;
    background:#BD8e62
}

.adopted-dogs {
    border: 2px solid#A46843;
    height:30vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between; 
    margin:10px;
    padding:10px;
    min-width:200px;
    
}
.dogpic {
    max-height:70%;
    min-height:70%;
    border-radius:20px;
    padding:5px;
    margin-top:5px;
}
.title-box {
    align-self:center;
    font-size:2em;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.abandon-btn {
    border-radius:8px;
    margin-top:5px;
    padding:2px 0;
    
    text-align: center;
}
.abandon-btn:hover, .abandon-btn:active {
    background: color #a4a4a4;
}
.input-name {
    width:70%;
    line-height: 20px;
    padding:2px;
    opacity: 0.5;
}

.adopted-name {
    width:100%;
    line-height:20px;
    
    font-size:20px;
    justify-content:center;
    height:25px;
    /* position:relative; */
    
}
.name-btn {
    padding:5px;
    border-radius:12px;
    margin:0 2px;
    font-size:12px;
    width:20%;
}

.dogname {
    letter-spacing: 3px;
    height:25px;
    border:2px solid black;
    font-size:24px;
    line-height: 25px;
    font-family: 'Berkshire Swash', cursive;
    position:relative;
    color:#370d00;
    width:100%;
    text-align: center;
}

.doggo-box {
    display:flex;
    flex-direction: row;
}
